@model IEnumerable<JuegoSennas_SitoWeb.Datos.CONTENIDOS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Texto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdReseña)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdComentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puntaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORIAS_JUEGOS.NombreCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADOS_CONTENIDO.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPOS_CONTENIDOS.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Texto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdReseña)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdComentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puntaje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORIAS_JUEGOS.NombreCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADOS_CONTENIDO.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPOS_CONTENIDOS.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdContenido }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdContenido }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdContenido })
        </td>
    </tr>
}

</table>
