
@model IEnumerable<Datos.Posts>
@{
    ViewBag.Title = "Reseñas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Blog Home 2
                <small>Blog Homepage</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Blog Home 2</li>
            </ol>
        </div>
    </div>
    @foreach (var Po in Model.OrderByDescending(x => x.FechaPublicacion))
    {
        <div class="row">
            <div class="col-md-1">
                <p>
                    <i class="fa fa-file-text fa-4x"></i>
                </p>
                <p>@Po.FechaPublicacion</p>
            </div>
            <div class="col-md-5">
                <a href="@Url.Action("Post")">

                    <img class="img-responsive" src="@Po.Juegos.Imagen">
                    @*<img class="img-responsive" src="http://placehold.it/600x300">*@
                </a>
            </div>
            <div class="col-md-6">
                <h3>
                    <a href="@Url.Action("Details","Posts", new { id = Po.Id })">@Po.Titulo</a>
                </h3>
                <p>
                    Autor <a href="#">@Po.AspNetUsers.UserName</a>
                </p>

                <p>@Po.Descripcion</p>

                <a href="@Url.Action("Details","Posts", new { id = Po.Id })" class="btn btn-primary">Read More<i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <hr>
    }


    <hr>
    <div class="row">
        <ul class="pager">
            <li class="previous">
                <a href="#">← Older</a>
            </li>
            <li class="next">
                <a href="#">Newer →</a>
            </li>
        </ul>
    </div>
</div>
